
body {
    padding-top: 70px;
    padding-bottom: 50px;
}

@media (max-width: 980px) {
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
    .navbar .brand {
      padding-left: 20px !important;
    }
}
