<ul class="nav nav-list">
  <li class="nav-header">Documentations</li>
  <li><a target="_blank" href="http://api.jquery.com/">jQuery</a></li>
  <li><a target="_blank" href="http://twitter.github.io/bootstrap/">Bootstrap</a></li>
  <li><a target="_blank" href="http://underscorejs.org/">Underscore</a></li>
  <li><a target="_blank" href="http://backbonejs.org/">Backbone</a></li>
  <li><a target="_blank" href="https://github.com/marionettejs/backbone.marionette/wiki">Marionette</a></li>
  <li><a target="_blank" href="http://requirejs.org/docs/api.html">RequireJS</a></li>
  <li><a target="_blank" href="http://flask.pocoo.org/docs/">Flask</a></li>
</ul>      
